/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  section {
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1, h2, h3 {
    margin-bottom: 10px;
  }
  
  .profile {
    text-align: center;
  }
  
  .profile img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 20px;
    transition: 0.5s;
  }

  .profile img:hover {
    width: 225px;
    height: 225px;
    border-radius: 100%;
    margin-bottom: 20px;
    transition: 0.5s;
  }
  
  .image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .image-gallery img {
    max-width: 300px;
    margin: 10px;
    border: 1px solid #ddd;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-gallery img:hover {
    transform: scale(1.1);
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: auto;
  }
  